.react-calendar {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: black;
  width: 100%;
}

.react-calendar__tile {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
